*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}
html {
	height: 100%;
	font-size: 16px;
	color: #444;
	font-family: "Oswald";
}
body {
	background: #f9f9f9;
}
main {
	width: 70%;
	
	margin: 20px auto;
	background: #fff;
	padding: 20px 15px;
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.5);
	
}
h1 {
	font-size: 28px;
	text-transform: uppercase;
	color: #FF4D00;
	text-align: center;
	margin-bottom: 25px;

}
p {
	font-size: 18px;
	padding: 15px 0;
}
img {
	display: block;
	width: 100%;
	margin: 0 auto;
}
a {
	color: #FF4D00;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 25px;
	border: 1px solid #FF4D00;
	border-radius: 10px;
	text-decoration: none;
	margin: 15px auto;
	display: block;
	width: 350px;
	text-align: center

}
.html, .css {
	margin-bottom: 15px;

}
footer {
	background: #444;
	color: #fff;

}
footer p {
	text-align: center;
	font-size: 18px;
	
}
header {
	text-align: right;
	font-size: 20px;
	background: #444;
	border: 30px solid;




}
.shapka {
	text-align: left;
	text-transform: uppercase;
}

header span {
	color: #FF4D00;
}
footer p span {
	color:#FF4D00 ;
	text-transform: uppercase;
	font-family: "Comic Sans MS";
}
table {
	border: 2px solid #FF4D00;
	padding: 15px 10px;
}
table tr{
	border-bottom: 1px solid rgba(0,0,0,0.2);
	display: block;
}
table tr td {
 padding: 5px 15px;
 display: inline-block;
}
table tr td:nth-child(1)  {
	width: 25%;
	float: left;
	text-align: center;
	

}
table tr td:nth-child(2) {
	width: 75%;
	border-left: 1px solid rgba(0,0,0,0.3)
}
table tr:nth-child(1) td {
font-size: 20px;
font-weight: bold;

}
.btn {
	display: flex;
	justify-content: space-between;

}
.btn:nth-child(1) {
	float: left;
}
.btn:nth-child(2) {
	float-right;
}
.btn a {
	margin: 10px 0px;
}